[submodule "KnowledgeTree-T1-datasourcing"]
	path = KnowledgeTree-T1-datasourcing
	url = https://github.com/bruckj/KnowledgeTree-T1-datasourcing
[submodule "bruckj-Knowledgetree-T7-ML"]
	path = bruckj-Knowledgetree-T7-ML
	url = https://github.com/bruckj/bruckj-Knowledgetree-T7-ML
[submodule "Knowledgetree-T3-Database"]
	path = Knowledgetree-T3-Database
	url = https://github.com/bruckj/Knowledgetree-T3-Database
[submodule "KnowledgeTree-WP2-textmining"]
	path = KnowledgeTree-WP2-textmining
	url = https://github.com/bruckj/KnowledgeTree-WP2-textmining
[submodule "KnowledgeTree-T6-graphanalytics"]
	path = KnowledgeTree-T6-graphanalytics
	url = https://github.com/bruckj/KnowledgeTree-T6-graphanalytics
[submodule "Knowledgetree-WP4-Frontend"]
	path = Knowledgetree-WP4-Frontend
	url = https://github.com/bruckj/Knowledgetree-WP4-Frontend
